<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ site.favicon }} ">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.author }}{% endif %}</title>

    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="{{ site.robots }}">
    <meta name="description" content="{{ site.description }}" />

    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <div class="col-sm-3 left">
        <h1 class="author-name"><a href="/">{{ site.author }}</a></h1>
        {% if site.about %}
          <div class="profile-about">
            {{ site.about }}
          </div>
        {% endif %}
        <div class="social">
          <ul>
            {% for link in site.social %}
              <li><a href="{{ link.link }}" target="_blank"><i class="fa {{ link.icon }}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
        <hr />
        <ul class="sidebar-nav">
          {% assign pages = site.pages | sort: 'order' %}
          {% for page_ in pages %}
          {% if page_.title and page_.hide != true %}
          <li><a class="about" href="{{ page_.url | prepend: site.baseurl }}">{{ page_.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-9 col-offset-1 main-layout">
        {{ content }}
      </div>
      <!-- end /.col-sm-9 -->
    </div>
    <!-- end /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
